<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-6">
              <h6>Transaksi table</h6>
            </div>
            <div class="col-6 text-end">
              <a routerLink="create" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i>
                Create Transaksi
              </a>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th>User Name</th>
                  <th>Product Name</th>
                  <th>Qty</th>
                  <th>Total</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dt">
                  <td>
                    <div class="d-flex px-2">
                      <div>
                      </div>
                      <div class="my-auto">
                        <h6 class="mb-0 text-sm">{{ item.User.firstName }}</h6>
                      </div>
                    </div>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{ item.Product.name }}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{ item.qty }}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{ item.total }}</span>
                  </td>
                  <td class="align-middle">
                    <a routerLink="/transaksi/edit/{{ item.id }}}" class="btn btn-warning" data-toggle="tooltip" data-original-title="Edit Transaksi">
                      <i class="fa-solid fa-pencil"></i>
                      Edit
                    </a>

                    <button  class="btn btn-danger" data-toggle="tooltip" data-original-title="Delete Transaksi"
                    (click)="deleteTransaksi(item.id)">
                      <i class="fa-solid fa-trash"></i>
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
