<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-6">
              <h6>Product table</h6>
            </div>
            <div class="col-6 text-end">
              <a routerLink="create" class="btn btn-primary">
                <i class="fa-solid fa-plus"></i>
                Create Product
              </a>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th>Product Name</th>
                  <th>Image</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dt">
                  <td>
                    <div class="d-flex px-2">
                      <div>
                      </div>
                      <div class="my-auto">
                        <h6 class="mb-0 text-sm">{{ item.name }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2">
                      <div>
                      </div>
                      <div class="my-auto">
                        <img src="http://localhost:5000/{{item.url }}" style="height: 100px; width: 100px;">
                      </div>
                    </div>
                  </td>
                  <td class="align-middle">
                    <a routerLink="/product/edit/{{ item.id }}" class="btn btn-warning" data-toggle="tooltip" data-original-title="Edit Product">
                      <i class="fa-solid fa-pencil"></i>
                      Edit
                    </a>

                    <a routerLink="/product/show/{{ item.id }}}" class="btn btn-info" data-toggle="tooltip" data-original-title="Show Product">
                      <i class="fa-solid fa-eye"></i>
                      Show
                    </a>

                    <button  class="btn btn-danger" data-toggle="tooltip" data-original-title="Delete Product"
                    (click)="deleteProduct(item.id)">
                      <i class="fa-solid fa-trash"></i>
                      Delete
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
